{
    "openapi": "3.1.0",
    "info": {
        "description": "Spesifikasi API aplikasi KitaBerbagi Yayasan Suara Insan Mulia",
        "version": "1.0.0",
        "title": "KitaBerbagi",
        "contact": { "email": "ahmadhudasalam9@gmail.com" }
    },
    "host": "tugas-akhir.ahusa.cloud",
    "basePath": "/api",
    "tags": [
        { "name": "auth", "description": "Authentication operations" },
        { "name": "user", "description": "User operations" },
        { "name": "admin", "description": "Admin operations" }
    ],
    "paths": {
        "/api/auth/login": {
            "post": {
                "tags": ["auth"],
                "summary": "Login User",
                "description": "Login a user"
            }
        },
        "/api/auth/logout": {
            "delete": {
                "tags": ["auth"],
                "summary": "Logout User",
                "description": "Logout a user"
            }
        },
        "/api/user/register": {
            "post": {
                "tags": ["user"],
                "summary": "Register User",
                "description": "Register a new user"
            }
        },
        "/api/user/current": {
            "get": {
                "tags": ["user"],
                "summary": "Get User",
                "description": "Get current user information"
            },
            "patch": {
                "tags": ["user"],
                "summary": "Update User",
                "description": "Update current user information"
            },
            "delete": {
                "tags": ["user"],
                "summary": "Delete User",
                "description": "Delete current user"
            }
        },
        "/api/users": {
            "get": {
                "tags": ["admin"],
                "summary": "Get Users",
                "description": "Get all users"
            }
        },
        "/api/user/{id}": {
            "get": {
                "tags": ["admin"],
                "summary": "Get User",
                "description": "Get a user by id"
            },
            "patch": {
                "tags": ["admin"],
                "summary": "Update User",
                "description": "Update a user by id"
            },
            "delete": {
                "tags": ["admin"],
                "summary": "Delete User",
                "description": "Delete a user by id"
            }
        },
        "/api/report": {
            "post": {
                "tags": ["admin"],
                "summary": "Create Report",
                "description": "Create a new report"
            }
        },
        "/api/reports": {
            "get": {
                "tags": ["admin", "user"],
                "summary": "Get Reports",
                "description": "Get all reports"
            }
        },
        "/api/report/{id}": {
            "get": {
                "tags": ["admin", "user"],
                "summary": "Get Report",
                "description": "Get a report by id"
            },
            "patch": {
                "tags": ["admin"],
                "summary": "Update Report",
                "description": "Update a report by id"
            },
            "delete": {
                "tags": ["admin"],
                "summary": "Delete Report",
                "description": "Delete a report by id"
            }
        },
        "api/program": {
            "post": {
                "tags": ["admin"],
                "summary": "Create Program",
                "description": "Create a new program"
            }
        },
        "/api/programs": {
            "get": {
                "tags": ["admin", "user"],
                "summary": "Get Programs",
                "description": "Get all programs"
            }
        },
        "/api/program/{id}": {
            "get": {
                "tags": ["admin", "user"],
                "summary": "Get Program",
                "description": "Get a program by id"
            },
            "patch": {
                "tags": ["admin"],
                "summary": "Update Program",
                "description": "Update a program by id"
            },
            "delete": {
                "tags": ["admin"],
                "summary": "Delete Program",
                "description": "Delete a program by id"
            }
        },
        "/api/{idProgram}/donate": {
            "post": {
                "tags": ["admin", "user"],
                "summary": "Create Donation",
                "description": "Create a new donation"
            }
        }
    }
}
